.navigation_parent {
    display: flex;
}

.navigation {
    height: 5vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}

.blackfroglogo {
    height: 100%;
    width: 12%;
    margin-left: 2%;
}

.blackfroglogo_img {
    height: 100%;
    float: left;
}

.blackfrogHeading {
    margin-top: 7px;
    color: #000;
    font-size: 150%;
    float: left;
}

.homepage_login_icon_div {
    width: 110px;
    display: flex;
    margin-left: 70%;
}
.userName{
    margin-top: 7px;
    color: #000;
    font-size: 150%;
    float: left;
}

.homepage_login_icon {
    height: 35px;
    width: 40px;
    background-color: #000;
    border-radius: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
}

/* ******************************************* */

@media only screen and (max-width: 600px) {
    .navigation_parent {
        display: flex;
        margin-left: 10%;
    }

    .navigation {
        height: 7vh;
        width: 100%;
        background-color: #fff;
        border-radius: 0px 5px 5px 0px;
    }

    .blackfroglogo {
        float: left;
        height: 100%;
        width: 15%;
        margin-left: 2%;
    }

    .blackfroglogo_img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .blackfrogHeading {
        margin-top: 10px;
        color: rgba(113, 99, 186, 255);
        font-size: 150%;
        object-fit: contain;
    }

}